body{
  margin: 0px;
  
}

@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

li{
  float:left;
  boarder-right: 1px solid #bbb;
}
li a{
  display: block;
  color: white;
  padding: 8px 54px;
  margin: 0px;
  text-decoration: none;
  
}
ul{
  margin: 0px;
  padding : 0;
  overflow: hidden;
  background-color: #333;
  }

li a:hover{
  background-color: #00FFFF;
  color: black;
  text-decoration: none;
}

p.a{
  font-family: 'Indie Flower', cursive;
}

#landing{
  height:91.6vh;
  background:url("https://source.unsplash.com/user/cherath14/1600x900") no-repeat center center fixed;
  background-size:cover;
  -webkit-background-size:cover;
  -o-background-size:cover;
  -moz-background-size:cover;
 
}

#portfolio{
  background:url(https://images.unsplash.com/photo-1449709992276-24bbca940809?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=c5de67a556b843958d279d2b74a09550) no-repeat center center fixed;
  background-size:cover;
  -webkit-background-size:cover;
  -o-background-size:cover;
  -moz-background-size:cover;
  min-height:100vh;
  position: relative;
}
#portfolio2{
  background:url("https://source.unsplash.com/user/erondu/1600x900") no-repeat center center fixed;
  background-size:cover;
  -webkit-background-size:cover;
  -o-background-size:cover;
  -moz-background-size:cover;
  min-height:100vh;
  position: relative;
}

#portfolio3{
  background:url("https://source.unsplash.com/user/jakobowens1/1600x900") no-repeat center center fixed;
  background-size:cover;
  -webkit-background-size:cover;
  -o-background-size:cover;
  -moz-background-size:cover;
  min-height:100vh;
  position: relative;
}

a:hover,a:focus{text-decoration:none;}

.text {
  font-family: serif;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 8px;
  color: #fff;
  top: -48px;
  position: relative;
  text-align:center;
}

.shape {
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  fill: transparent;
  
   stroke: #19f6e8;  
  border-bottom: 5px solid black;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

.svg-wrapper:hover .shape {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}

.svg-wrapper {
  position: relative;
  top: 35%;
  transform: translateY(-50%);
	margin: 0 auto;
  width: 320px;
  max-height:60px;
  cursor:default;
}

