.nav{
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
}
.landing{
	background:url("../res/images/landing.jpeg") no-repeat center center fixed;	
	height:91.6vh;
    background-size:cover;
    -webkit-background-size:cover;
    -o-background-size:cover;
    -moz-background-size:cover; 
}
#blue_bg{
	 background:url("../res/images/bg.jpeg");
     background-size:cover;
}
/* Below code is to make landing text change its size when we hover over it*/
/*learning to work with svg was learnt from : https://www.youtube.com/watch?v=IM8eTD01UE8 */
svg:hover .landing_text{
	font-size: 180%;
}

/*below code makes the transition period of size change to 1s and google fonts used here */
.landing_text{
	transition: font-size 1s;
	font-family: 'Merienda One', cursive;
}

/* below code used to position text to center ussing- flex-box css*/
/* further positioning was done by adjusting height width and x, y coordinates of svg element*/
.flex-container {
  display: flex;
  justify-content: center;
}
/*css fro quotes below*/
#legend-heading{
	font-family: 'Raleway', sans-serif;
	font-size: 60px;
	color:#ff8533;
}
#quotes{
	background-color: #00ace6;
}
.leg-quote{
	font-family: 'Merienda One', cursive;
	font-size: 27px;
	text-align: justify;
}
.legends{
	font-family: 'Raleway', sans-serif;
    font-size: 30px;
	text-align: right;

}
/*hr tag property taken from https://css-tricks.com/examples/hrs/*/
hr{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
	clear:both;
}

/*css for path of pages*/
#path{
    background-color: #00ace6;
  

}
