.nav{
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
}
.landing{
	background:url("../res/images/landing.jpeg") no-repeat center center fixed;	
	height:91.6vh;
    background-size:cover;
    -webkit-background-size:cover;
    -o-background-size:cover;
    -moz-background-size:cover; 
}
#blue_bg{
	 background:url("../res/images/bg.jpeg");
     background-size:cover;
}
